/* / RESETANDO ESTILO DA PÁGINA  */
body,
p,
h1,
ul,
li,
blockquote {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Vollkorn", Georgia, serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ESTRUTURA GERAL */

.estrutura {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 220px auto;
  grid-template-areas: "sideBar conteudo";
}

.side-menu {
  grid-area: sideBar;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.conteudo {
  grid-area: conteudo;
  display: grid;
  grid-row-gap: 20px;
}

/* SIDE MENU */

.logo-texto {
  line-height: 35px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 68px;
  background-image: linear-gradient(to bottom, #ffb354 0%, #ee7a3a 100%);
}

.logo-texto span {
  font-family: Roboto;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 35.16px;
}

.conteudo-side-bar ul {
  display: flex;
  flex-direction: column;
}

.conteudo-side-bar li {
  border-bottom: 1px solid #e7e7e7;
  display: flex;
}

.conteudo-side-bar li p {
  font-family: Quicksand;
  color: #725c5c;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 18.75px;
  height: 35px;
  margin-left: 24px;
  display: flex;
  align-items: center;
}

.conteudo-side-bar li:hover {
  background: #fdf1eb;
}

.conteudo-side-bar li:hover::before {
  background-image: linear-gradient(to bottom, #ffb354 1000%, #ee7a3a 100%);
  content: "";
  display: inline-block;
  height: 33px;
  width: 5px;
  margin-right: 10px;
}

/* HEADER */

.header-conteudo {
  height: 68px;
  background-color: #fdf1eb;
  display: grid;
  grid-template-columns: 1.06fr 1fr;
  align-items: center;
  justify-items: end;
}

.header {
  font-family: Roboto;
  font-weight: 400;
}

.header span {
  font-size: 0.875rem;
  color: #725c5c;
  line-height: 16.41px;
}

.header p {
  font-family: Roboto;
  font-size: 1.375rem;
  line-height: 25.78px;
  color: #725c5c;
}

.linguagem-perfil {
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content: space-evenly;
}

.linguagem {
  width: 97px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 3px;
}

.linguagem span {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 17.5px;
}

.perfil {
  display: flex;
  justify-self: center;
}

.conteudo-perfil {
  display: grid;
  text-align: end;
  margin-right: 28px;
}

.conteudo-perfil span {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 17.5px;
}

.conteudo-perfil span:last-child {
  font-size: 0.75rem;
  line-height: 15px;
}

.imagem-completa-notificacao {
  display: flex;
}

.img-notificacao {
  display: flex;
  z-index: 1;
  margin-right: -35px;
  margin-top: -4px;
}

.img-perfil {
  z-index: 0;
}

/* VÍDEO E COLUNA DETALHES */

.titulo-video {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: flex-start;
  margin-left: 30px;
}

.titulo {
  margin-bottom: 20px;
}

.titulo p {
  font-family: Roboto;
  font-weight: 900;
  font-size: 1.25rem;
  line-height: 25px;
  width: 715px;
  color: #ed7839;
}

.botoes-texto {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.botoes {
  display: flex;
  justify-self: center;
}

.texto-botao {
  margin-top: 5px;
}

.texto-botao p {
  font-family: Roboto;
  font-weight: 500;
  font-size: 0.875rem;
  text-align: end;
  color: #ed7839;
  line-height: 25px;
}

.download img {
  width: 120px;
  height: 31px;
}

.favoritar img {
  width: 43px;
  height: 31px;
  margin: 0 5px;
}

.doi img {
  width: 43px;
  height: 31px;
}

.detalhe {
  width: 242px;
  height: 439px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  flex-direction: column;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
}

.titulo-texto-detalhe {
  height: 45px;
  display: flex;
  background: #fdf1eb;
  border-bottom: 1px solid #e7e7e7;
}

.titulo-texto-detalhe p {
  font-family: Roboto;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 25px;
  color: #4e4e4e;
  align-self: center;
  margin-left: 15px;
  border-radius: 5px;
}

.detalhe-texto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 212px;
  height: 364px;
  margin: 0 auto;
}

.detalhe-texto span:first-child {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 22, 75px;
  color: #5c5c5c;
}

.detalhe-texto span:nth-child(2) {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 16, 8px;
  color: #5c5c5c;
}

.detalhe-texto span:last-child {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 14px;
  color: #5c5c5c;
}

/* RESUMO */

#mais {
  display: none;
}

.resumo {
  width: 1058px;
  border: 1px solid #e7e7e7;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  border-radius: 3px;
}

.titulo-resumo {
  height: 45px;
  display: flex;
  background: #fdf1eb;
  border-bottom: 1px solid #e7e7e7;
}

.titulo-resumo span {
  font-family: Roboto;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 25px;
  color: #4e4e4e;
  align-self: center;
  margin-left: 15px;
  border-radius: 5px;
}

.conteudo-resumo {
  width: 1028px;
  display: flex;
  align-self: center;
  margin: 10px 0px;
}

.conteudo-resumo p {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 22.75px;
}

#textoLeiaMais {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 0.875rem;
  color: #ED7839;
  line-height: 22.75px;

}

/* DISCUSSÃO */

.discussao {
  width: 1058px;
  border: 1px solid #e7e7e7;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-bottom: 30px;
  border-radius: 3px;

}

.titulo-discussao {
  height: 45px;
  display: flex;
  background: #fdf1eb;
  border-bottom: 1px solid #e7e7e7;
}

.titulo-discussao span {
  font-family: Roboto;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 25px;
  color: #4e4e4e;
  align-self: center;
  margin-left: 15px;
}

/* CRIAR TÓPICO */

.criar-topico {
  display: grid;
  justify-content: center;
  align-self: center;
  grid-row-gap: 25px;
  margin-top: 20px;
}

.criar-topico span {
  font-family: Roboto;
  font-weight: 700;
  text-align: center;
  font-size: 0.875rem;
  line-height: 21.09px;
  color: #ed7839;
}

.topico-icons {
  display: flex;
  justify-content: center;
}

.topico-icons img:nth-child(2) {
  margin: 0px 40px;
}

.criar-topico p {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 0.875rem;
  width: 626px;
  text-align: center;
  justify-self: center;
  line-height: 19px;
}

.botao-criar-topico {
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.linha-criar-topico {
  width: 1027px;
  z-index: 0;
  margin-top: -52px;
}

.linha hr {
  border: 1px solid #e7e7e7;
  background: #e7e7e7;
}

/* COMENTÁRIO TÓPICO */

.topico-comentario {
  display: none;
  justify-content: flex;
  grid-row-gap: 25px;
  margin-top: 20px;
}

.topico-comentario span {
  font-family: Quicksand;
  font-weight: 400;
  text-align: center;
  font-size: 0.875rem;
  line-height: 17.5px;
  color: #5c5c5c;
}

.assunto {
  margin-left: 20px;
}

.assunto p {
  font-family: Roboto;
  font-weight: 700;
  font-size: 1rem;
  line-height: 18.75px;
  color: #ed7839;
}

.assunto input {
  width: 993.52px;
  height: 39px;
  padding-left: 15px;
  border-radius: 3px;
}

.assunto inpu::placeholder {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 17.5px;
}

.assunto-conteudo {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
}

.assunto-conteudo span {
  font-family: Roboto;
  text-align: start;
  font-weight: 700;
  font-size: 1rem;
  line-height: 18.75px;
  color: #ed7839;
}

.assunto-conteudo textarea {
  width: 1010.52px;
  border-radius: 3px;
}

.botao-comentario-enviar {
  background: #eaf1f2;
  border: 1px solid #cccccc;
  height: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
}

.botao-comentario-enviar p:first-child {
  margin-left: 15px;
}

.botao-comentario-enviar button {
  width: 205.1px;
  height: 31px;
  background-image: linear-gradient(to bottom, #ffb354 0%, #ee7a3a 100%);
  border-radius: 3px;
  font-family: Quicksand;
  font-weight: 700;
  font-size: 0.938rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* TÓPICO CRIADO */

.topico-criado {
  display: none;
  justify-items: center;
  text-align: center;
}

.titulo-topico-criado {
  margin-top: 15px;
  margin-bottom: 20px;
}

.titulo-topico-criado span {
  font-family: Roboto;
  font-weight: 700;
  text-align: center;
  font-size: 1.125rem;
  line-height: 21.09px;
  color: #ed7839;
}

.conteudo-topico-criado p {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 19.25px;
  margin-bottom: 30px;
}

.conteudo-topico-criado span {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 19.25px;
  color: #ed7839;
  text-decoration-line: underline;

}

.botao-criar-novo-topico  {
  z-index: 10;
}

.botao-criar-novo-topico button {
  background-image: linear-gradient(to bottom, #ffb354 0%, #ee7a3a 100%);
  font-family: Quicksand;
  font-weight: 700;
  font-size: 0.938rem;
  line-height: 16px;
  color: #ffffff;
  height: 32px;
  border-radius: 4px;
  width: 235.15px;
  cursor: pointer;
  margin-top: 45px;
}

.linha-criar-novo-topico {
  width: 1027px;
  z-index: 5;
  margin-top: -24px;
}

.linha-criar-novo-topico hr {
  border: 1px solid #e7e7e7;
  background: #e7e7e7;
}

.feedback{
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

.feedback-background {
  z-index: 0;
  margin-top: -133px;
}

.conteudo-feedback {
  z-index: 1;
}

.conteudo-feedback p{
  font-family: Quicksand;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 18px 114px 18px 0px;
  color: #707070;
}

.conteudo-feedback span {
  font-family: Quicksand;   /* OBS: Fonte Segoe UI não encontrada para baixar, por isso, houve a troca de fontes para uma parecida*/
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 18.62px;
  text-decoration-line: underline;
  color: #ED7839;
}
